$white-color : rgb(233, 233, 233);
$more-darker-white :  rgb(173, 173, 173);
$dark-purple: #111830;
$extrem-light-purple : rgb(136, 158, 255);
$light-purple : #304796;
$search-purple-light : #4568db;
$search-light : #1c243f;
$search-dark : #111729;
