@import '../../assets/scss/variables';



.card-btn-style{
    outline: none;
    cursor: pointer;
    color: $white-color;
    border: 2px solid $white-color;
    padding: 2px 12px;
    transition: background-color 100ms, color 100ms;
    font-weight: 800;

}

.addToFavorites{

    background-color: transparent;
    &:hover{
        background-color: $white-color;
        color: black;
    }
}

.removeFromFavorites{
    background-color: $white-color;
    color:$dark-purple;
    border: none;

    &:hover{
        background-color: $more-darker-white;
    }
}