.home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    object-fit: cover;
    position: relative;
}



.home-content {
    position: relative;
    z-index: 4;
    min-height: 100vh;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-rows: 1/2fr 1fr;
}

.hero {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

