@import '../../../assets/scss/variables';
.form-input-control {
    width: 350px;
    height: 90px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.label-input {
    flex-basis: 36px;
    display: flex;
    align-items: center;
    color: $white-color;
    
}

.form-input {
    flex-basis: 54px;
    padding-left: 1rem;
    font-size: 1rem;
    border: 2px solid $white-color;
    background-color: transparent;
    border-radius: .5rem;
    outline: none;
    color: $white-color;
    &::placeholder{
        color: rgba(255, 255, 255, 0.49);
    }
}

