@import '../../assets/scss/variables';

.card {
    min-width: 185px;
    max-width: 185px;
    min-height: 360px;
    max-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: .85;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    margin-bottom: 10px;
    &:hover {
        transform: scale(1.05);
        opacity: 1;
    }
    &:hover .cardPoster {
        box-shadow: rgb(0 0 0 / 64%) 0px 0px 7px 3px;
        border: 2px solid $white-color;
    }
}
.cardPoster {
    flex-basis: 275px;
    width: 100%;
    border-radius: 5px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-basis: 65px;
    .name-and-year {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white-color;

        .name {
            font-size: 17.5px;
        }
    }

    .add-and-rate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rate {
            display: flex;
            align-items: center;
            gap: 5px;
            color: $extrem-light-purple ;
        }
    }
}