.navbar {
    width: 100%;
    min-height: 75px;
    max-height: 75px;
    position: relative;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    z-index: 999;
}

.left {
    display: flex;
    align-items: center;
    padding-left: 20px;
    flex-basis: 70%;
    gap: 30px;
}
.links {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
        color: rgba(255, 255, 255, 0.714);
        font-size: 15px;
    }
}

.right {
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    flex-basis: 60%;
    .searchAndLogout {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .searchAndLogout .search {
        color: white;
        font-size: 22px;
        display: flex;
        align-items: center;

    }

    .searchAndLogout .logout {
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        font-size: 15px;

    }
}

.navbar-logo img {
    height: 35px;
}

.miniNav{
    display: none;
}

.toggleBar {
    display: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

@media only screen and (min-width: 0px) and (max-width: 950px) {
    .right {
        display: none;
    }
    .toggleBar {
        color: white;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .miniNav {
        position: absolute;
        bottom: 0;
        right: 20px;
        top: 85px;
        width: 180px;
        height: 350px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.356);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        transition: all ease-in-out 400ms;
        backdrop-filter: blur(5px);
        box-shadow: 5px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 14px 8px rgba(0,0,0,0.1);
        .links {
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            justify-content: center;

            a {
                text-align: center;
                font-size: 15px;
                padding: 8px 25px;
                border-radius: 15px;
                color: white;
                

            }

            a:hover {
                background-color: rgba(115, 115, 115, 0.23);

            }

        }

        .searchAndLogout {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        .searchAndLogout .logout{
            background-color: transparent;
            outline: none;
            border: none;
            color: white;
        }
        .searchAndLogout .search {
            display: flex;
            align-items: center;
            color: white;
            font-size: 22px;
        }
    }
    .links{
        display: none;
    }
}